@import "./variables";

//*  variables.scss i import ettik , böylece variables.scss deki değişkenleri kullanabiliriz.
//* değişkenleri kullanırken $ işareti ile başlatıyoruz.
//? örneğin pink değişkenini kullanmak için
//* $pink yazıyoruz.

header {
  background-color: $pink;
  padding: 3rem;
  .title {
    text-align: center;
    color: azure;
  }
}
